#post__pages_banner {
    width: 100%;
    height: 300px;
    margin-top: 40px;
    background-image: url(./../assets/images/post__banner.png);
    background-repeat: round;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.postScreen {
    justify-content: space-between;
    flex-wrap: wrap;

}


#post__pages_banner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.page__post-info {
    gap: 20px;
}

.page__post-info>button {
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--text-color-akcent);
}

.page__post-info>span {
    font-size: 18px;
    color: var(--text-color-light);
}

.page__post-content {
    margin-top: 30px;
    max-width: 800px;
}

.page__post-content>img {
    margin-top: 40px;
    width: 100%;
}

.page__post-text {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.page__post-img {
    grid-column: 2 / 4;
    grid-row: 3 / 6;
    display: flex;
    float: right;
    width: 320px;
    flex-direction: column;
    height: auto;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.page__post-text>div>p {
    margin-top: 20px;
}

.page__post-img>span {
    font-size: 14px;
    margin-top: 10px;
}

.page__post-navigationsBtn {
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.page__post-navigationsBtn>button {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--text-color-akcent);
}

.page__post-text>img {
    width: 100%;
}

@media (max-width: 1025px) {
    #post__pages_banner {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }

    .page__post-content {
        max-width: 100%;
    }

    .page__post-img {
        margin-left: 0px;
    }

    .page__post-img>img {
        width: 100%;
        margin-top: 20px;
    }
    .page__post-navigationsBtn{
        flex-direction: column-reverse;
    }
    /* .page__post-navigationsBtn>button{
        width: 100%;
        justify-content: center;
        background-color: var(--text-color-akcent);
        color: var( --global-color);
    } */
}