#pages__404_content{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 20px;
}
.pages{
 margin-top: 125px;
}
 #pages__404_content>a{
  color: var(--text-color-akcent);
  padding: 10px 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
 }

 @media (max-width: 1025px) {
  .pages {
   margin-top: 34px;
  }
 }
 @media (max-width: 781px) {
  
 }
 @media (max-width: 321px) {
  .pages {
   margin-top: 40px;
  }
 }